<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset-password</title>
</head>
<body>
    <form action="./reset" method="POST">
        <input type="email" placeholder="Enter you email" name="email">
        <br>
        <input type="password" placeholder="New Password" name="password">
        <br>
        <input type="hidden" name="token" value={{token}}>
        <br>
        <input type="submit">
    </form>
</body>
</html>